<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LecturoApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.focus.FocusHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.focus.FocusSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.focus.FocusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.consultation.pattern.ConsultationPatternActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consultation.pattern.ManagePatternActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consultation.ConsultationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.consultation.DetailConsultationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LecturoApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.welcome.WelcomeActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.CompleteProfileActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.task.TasksActivity" />
        <activity android:name=".ui.task.AddTasksActivity" />
        <activity android:name=".ui.event.EventActivity" />
        <activity android:name=".ui.event.AddEventActivity" />
        <activity android:name=".ui.teaching.TeachingActivity" />
        <activity android:name=".ui.teaching.AddTeachingActivity" />
        <activity android:name=".ui.cameraocr.CameraOCRActivity" />
        <activity android:name=".ui.settings.NotificationSettingsActivity" />

        <receiver
            android:name=".notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".notifications.RebootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>